<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>callbackDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>645A66251C10064E00BD34DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>645A663E1C10064F00BD34DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>645A66491C10064F00BD34DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
